/*Style CSS du site Ohmyfood
----------------------------
Copyright Johann Lamine
*/

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background: #F6F6F6;


@mixin pinkb {
    color: white;
    background: linear-gradient(180deg, $secondary, $primary);
    padding: 20px;
    border-radius: 10rem;
    border: hidden;
    box-shadow: 0 5px 10px #C3C3C3;
    cursor: pointer;
}
@mixin new {
    background: $tertiary;
    color: darken($color: $tertiary, $amount: 50%);
    padding: 9px;
    
}
@keyframes spin {
    from {
        transform: rotate(100deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@font-face {
    font-family: 'Shrikhand';
    src: url(Font/Shrikhand-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(Font/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(Font/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0em;
    margin: 0em;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}


/*header*/

h1 {
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}
h2 {
    font-family: 'Roboto-black';
    padding: 30px 0;
    width: 100%;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 17px 0;
    .arrow {
        position: absolute;
        left: 20px;
        font-size: 23px;
        color: #232323;
    }
}

.adress {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height: 50px;
    box-shadow: 0 2px 4px #CFCFCF inset;
    i {
        margin-right: 18px;
    }
}
.explore {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    min-height: 286px;
    padding: 0 40px 20px 40px;
    .pink_button {
        @include pinkb;
        width: 60%;
        max-width: 300px;
        &:hover {
            opacity:0.8;
        }
    }
    h2 {
        padding: 20px 20px;
    }

}
#Section2 {
    padding: 20px 20px 50px 20px;
    @media (min-width:1170px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.fonction {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 12px;
    padding: 20px;
    border-radius: 15px;
    background: $background;
    box-shadow: 1px 5px 5px #E6E6E6;
    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: $primary;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-left: -32px;
    }
    i {
        color: grey;
        width: 25px;
        padding: 0 20px;

    }
    &--bis {
        background: #F5EDFF;
        i {
            color: $primary;
        }
    }
}
#Section3 {
    background: $background;
    padding: 20px 20px 50px 20px;
    height: auto;
    @media (min-width:1170px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.card {
    position: relative;
    background: white;
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 18px;
    box-shadow: 1px 5px 5px #E6E6E6;
    .new {
        position: absolute;
        top: 13px;
        right: 10px;
        @include new;
    }
    img {
        object-fit: cover;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        max-height: 174px;
    }
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 0 15px;
    }
    @media (min-width:1170px) {
        width: 45%;
    }
}
.heart {
    font-size: 23px;
    .fas {
        display: none;
    }
    &:hover {
        .fas {
            display: block;
            color: $primary;
            background: -webkit-linear-gradient($primary, $secondary);
            background-clip: content-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .far {
            display: none;
        }
    }

}
.visuel {
    img {
        object-fit: cover;
        width: 100%;
        max-height: 257px;
    }
    .name {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 40px;
        height: 96px;
        margin-top: -38px;
        border-radius: 38px 38px 0 0;
        background-color: $background;
        i {
            font-size: 23px;
        }

    }
}
.menus {
    padding: 14px;
    background-color: $background;
    .menu {
        margin-bottom: 50px;
        &_titre {
            max-width: 100%;
            padding-left: 6px;
            text-transform: uppercase;
            font-weight: lighter;
        }
    }
    .barre {
        width: 40px;
        height: 3px;
        background-color: $tertiary;
        margin: 3px 0 15px 6px;
    }
    .choix {
        display: flex;
        justify-content: space-between;
        padding: 15px 22px 15px 10px;
        border-radius: 13px;
        background-color: white;
        box-shadow: 1px 5px 5px #E6E6E6;
        margin-bottom: 14px;
        cursor: pointer;
        overflow: hidden;
        .check {
            margin-right: -65px;
            background-color: $tertiary;
            transition-duration: 500ms;
            margin: -34px -87px -20px 20px;
            background-color: $tertiary;
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 72px;
                width: 65px;
                font-size: 1.3rem;
                color: white;
            }
        }
        &:hover {
            .check {
                margin-right: -22px;
            }
            .fa-check-circle {
                animation: spin 300ms 100ms linear;
            }
        }
    }
    .price {
        display: flex;
        align-self: flex-end;
        margin-left: 20px;
    }
    .pb {
        display: flex;
        justify-content: center;
        padding: 0 0 40px 0;
    }
    .pink_button {
        @include pinkb;
        width: 50%;
        &:hover {
            opacity: 0.8;
        }
    }
    .text {
        white-space: nowrap;
        overflow: hidden;
        h3 {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
/*footer*/

footer {
    padding: 20px 20px;
    background: #CACACA;
    filter: invert(1);
    i {
        float: left;
        width: 13px;
        height: 13px;
        margin-right: 10px;
    }
    ul {
        list-style-type: none;
        padding-top: 20px;
    }
    li {
        padding: 5px 0;
    }
    h1 {
        font-size: 1.3rem;
    }
}