@font-face {
    font-family: 'Shrikhand';
    src: url(Font/Shrikhand-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(Font/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-black';
    src: url(Font/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}